<!-- Top menu -->
<div class="game-top">
  <h1 class="game-title">Tic Tac Toe</h1>
  <button (click)="startGame()" class="start-button">{{ "New game" | uppercase }}</button>
</div>
<!-- Game board and info -->
<div class="game-bottom">
  <div class="game-board">
    <app-square *ngFor="let item of list; index as i" [value]="item" (click)="makeMove(i)">{{item}}</app-square>
  </div>
  <!-- Game info -->
  <div class="info-board">
    <p class="next-turn">Next turn: <b>{{xIsNext ? "X" : "O"}}</b></p>
    <p class="winner" *ngIf="winner">Winner: <b>{{winner}}</b></p>
  </div>
</div>